# Android / Gradle
.gradle/
build/
local.properties
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.kotlin_module

# Secrets
*.keystore
*.jks
*.key
keystore.properties
app/keystores/*
!app/keystores/.gitkeep
