<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.xr.api.spatial"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XRLauncher">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.XRLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".companion.CompanionControllerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.XRLauncher" />

        <activity
            android:name=".external.ExternalDisplayActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density|uiMode"
            android:exported="false"
            android:resizeableActivity="false"
            android:theme="@style/Theme.XRLauncher.Glasses" />

        <activity
            android:name=".glasses.GlassesLauncherActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density|uiMode"
            android:exported="true"
            android:requiredDisplayCategory="android.hardware.display.category.XR_PROJECTED"
            android:theme="@style/Theme.XRLauncher.Glasses">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.XR_PROJECTED_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
